body {
    background-color: #f2f2f2;
}
.country {
    margin: 20px;
    padding: 10px;
    background-color: #ccf2ff;
    border: 3px solid #00bfff;
    border-radius: 20px;
}
.country img {
    width: 200px;
}